name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Build container
      run: docker compose build

    - name: Run BDD tests
      run: docker compose run test behave features/ --tags=~@requires_reference_data

    - name: Run validation
      run: docker compose run validation
